* {
    font-family: 'silk', sans-serif;
}

@font-face {
    font-family: silk;
    src: url(Fonts/slkscr.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    }
.left {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 0px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 0px;
}

.grid_container {
    display: grid;
    border: 1px black solid;
    height: 500px;
    width: 500px;
}

 .grid_container > div {
    border: 1px black solid;
    background-color: white;
}

.grid_Sizing {
margin-top: 50px;
}

button {
    padding: 10px;
    margin: 10px 30px 10px 0;
}